[2019-06-28 03:32] theduke opened #2 "Reconsider futures-based interface"
I really need to have a asynchronous interface to Arango.

reqwest already provides the `reqwest::r#async::Client` async client that can be used easily. It would need an additional refactor and major version bump when async/await hits stable, but that will only happen in late September.

Let me know if you'll accept a PR, otherwise I'll just roll my own.

[2019-06-28 05:23] guoli-lyu commented on #2
Yes, arangors is open to PR on async client, which are on the next milestone. So feel free to submit PR.  We can have more disscussion on how to embed async support into arangors.

I prefer to use a generic client as a warpper for both async and sync client. And refactor all related operation with Trait to keep a consistent API between sync and async.

I am waiting for the async/await syntax in st

[2019-07-07 14:46] SitiSchu opened #3 "User used to connect requires access to _system database"
When trying to connect to arangodb without the user having access to `_system` arangors will fail with `thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: ErrorMessage { msg: "not authorized to execute this request" }', src/libcore/result.rs:999:5`

In the requests logs this shows up as `"GET","HTTP/1.1",401,0,95,"/_api/database/user",0.000039`

I can connect just fine using a

[2019-07-16 06:36] guoli-lyu commented on #3
This is a known issue I am working on. I am removing the caching behaviour for collections too.

[2019-07-25 15:42] davechallis opened #4 "Could Clone be added to Connection?"
It would sometimes be useful to be able to clone a `Connection` after it's been created, and collections fetched etc.

All of its member structs are cloneable, so should just be a case of adding `derive(Clone)` to `Database` and `Connection` structs.

But perhaps there's a good reason not to, I'm not that familiar with the codebase yet.

[2019-07-26 00:56] guoli-lyu commented on #4
With current caching behaviour, this is impossible. Each connection stores a hashmap of databases, which should never be cloned.

Currently, the best way is to setup another Connection.

[2019-07-26 09:07] davechallis commented on #4
Thanks, that makes sense.

[2019-07-26 09:07] #4 closed

[2019-07-28 15:16] guoli-lyu commented on #3
This issue has been fix in v0.2. Feel free to have a try.

[2019-07-29 02:37] #3 closed

[2019-08-05 15:50] thedodd opened #5 "Streaming Transactions API Support?"
Any plans on adding support for this: https://www.arangodb.com/2019/08/rc7-of-arangodb-3-5-streaming-transactions-api/

Also, definitely keep up the good work here! I am planning on cutting a system over to ArangoDB which has previously been based on MongoDB. It would be excellent to see support for this stuff as well as async support based on the new futures & async/await features landing in Rust

[2019-08-05 15:54] thedodd commented on #2
@guoli-lyu looks like some interesting progress is being made on this front seanmonstar/reqwest#565

[2019-08-06 04:10] guoli-lyu commented on #5
Wow, what a wonderful feature arangoDB 3.5 bring to us. Currently, I am a bit busy working on another project to get myself familiar with the new async/await syntax which is likely to be stable in the forthcoming rust 1.38. Also, I am not familiar with this feature. If you like, we can work together to bring this feature to arangors. The first step is to prototype with curl or `Connection::get_ses

[2019-08-06 04:12] guoli-lyu commented on #2
Reqwest is making progress toward aysnc/await. I don't want arangors to be a nightly only crate, so I will starts working on this in another branch.

[2019-08-06 21:41] thedodd commented on #5
Awesome! Thanks for the feedback.

[2019-08-30 16:12] davechallis opened #6 "VelocyPack format"
In case it's of any use/interest, I've started work on a Rust implementation of the VelocyPack format in Rust at: https://github.com/davechallis/rust-velocypack

It's currently got some basic serialization working, currently working on the deserialization part (it's got a long way to go with documentation, decent error messages etc. though of course).

It's implemented using serde, so should hopef

[2020-02-03 13:48] inzanez opened #8 "Development Branch"
Hi

would you mind opening up a development branch where I could submit subsequent pull requests? I would like to extend the functionality of arangors in the months to come.

Best regards

[2020-02-04 12:59] guoli-lyu commented on #8
Sure.

[2020-02-08 17:30] prabirshrestha opened #9 "add support for async/await using async-std"

[2020-02-09 03:36] guoli-lyu commented on #9
I find to tedious to write almost the same code for both async and sync with only difference in the http request details. And I have wrote a crate named `maybe-async` to provide a possible non-trival way to toggle between sync and async with a feature gate. In this way, I can dissocaite the http request crate as well as arango types and API.

This is planning in the near future, maybe months later

[2020-02-09 03:37] guoli-lyu commented on #8
Now the develop branch is on the air. I am gonna close this issue.

[2020-02-09 03:37] #8 closed

[2020-04-17 13:43] arn-the-long-beard opened #10 "How to use arangors with a web server"
Hello !
First, I am huge fan of ArangoDB, and I am starting rust serisouly only now. So big thank you for having made this package ! I am very fresh on rust, like a newbie, nice contrast from my js/ts world lol

Your package is the most advanced regarding Arango driver for Rust. But it seems you might need extra help maybe.

But first, I need some help. I am trying to use Arangodb on a actix-web s

[2020-04-20 02:57] fMeow commented on #10
Thank you for sharing your experience with us.

The `Clone` trait is not implemented for neither `Connection` nor `Database` with historical reason. At that time, `Connection` holds a cached list of `Database`. If `Clone` are allowed, it can cause synchronization problems. Concretely, say we have two `Connection` objects A and B, and we drop a database with A for some reason. And then, we can stil

[2020-04-20 08:07] inzanez commented on #10
Another solution could be using `r2d2-arangors`. It's an r2d2 implementation for the `arangors` driver. That way you could wrap the r2d2 pool in an `Arc` and just spawn new connections from that one.

May your beard grow ever longer.

[2020-04-20 12:37] arn-the-long-beard commented on #10
Hey guys !

Wow for your answer @fMeow , Thank you so much to take the time to explain. I am learning a lot right now !

I'll give a try to Arc as you suggest. I will also try Rd2d  @inzanez  !

Actually my code is directly inspired by the example for authentication service in the Actix-web repo example. I had some R2d2 and I was looking for its implementation for Arangors but I didn't find it.

T

[2020-04-20 12:43] inzanez commented on #10
@arn-the-long-beard you should find it using `cargo search r2d2-arangors`

[2020-04-20 12:55] arn-the-long-beard commented on #10
Thank you ! I'll come back once I have implemented everything :)

[2020-04-20 14:15] arn-the-long-beard commented on #10
Okay, I got some issues still, héhé :)

When trying Arc, the compiler gives me 2 errors.

Here is the code .

[code]
Then I got 2 errors. I understand the sens of the second that explains that the value lives too short. How can I make it live longer ? For the first error, it seems because of missing traits.

I do not understand the Fn closure message so.

And

Whats is the thing I am missing there

[2020-04-21 02:07] fMeow commented on #10
Wow, it's my first time that I heard of `r2d2-arangors`. Thanks for the community efforts. You should certainly tried it since the `r2d2` family handles connection pool nicely.

As for the compiler error on life-time, this is deliberately designed that a `Database` instance should live no longer than the `Connection` instance from which it derived. This is obvious that all access to arango server

[2020-04-22 15:03] inzanez opened #11 "Normal / Admin connection"
Hello there
I was wondering if there were any specific reason for having two different connection types for Admin and Normal connections? Is this really a requirement, or could we just switch to a single connection type?

I'm justing seeing some problems in r2d2 as the connections cannot be converted into admin connections. And so I started thinking about it and I somehow do not really see any adv

[2020-04-22 17:12] fMeow commented on #11
My purpose is to avoid a dangling `Database` instance that the database it refers to has been dropped.

Say we have an instance of connection `conn`, and we derived a database instance `db` and the name of database is `test_db`:
[code]

If we simple drop database `test_db` with `conn`, the `db` object is a nonsense that every request fails on runtime. Since rust is a compile language, it's not lik

[2020-04-22 19:14] inzanez commented on #11
@fMeow Thank you for your answer. I somehow don't quite agree. The part about Rust being a statically typed language with many compiler checks refers mainly to the fact that unsafe programming styles should be mitigated, like ending up with dangling pointers, not handling paths in a decision tree etc. So it removes a lot of possibilities for fatal crashes / vulnerabilities / other unwanted effects

[2020-04-23 06:05] fMeow commented on #11
Thank you for your illustration.

I make it clear that `Admin` role is the one to perform admin operation, like something on `_system` database, backup/restore and other functions that can be reached in `_api/admin`.

Certainly creation and delete of database should not counted as admin role. So I moved `create_database` and `drop_database` to Normal role.

This comes in the 0.3 version.

[2020-04-23 07:37] inzanez commented on #11
@fMeow perfect, I'm looking forward to those changes. Many thanks!

[2020-04-23 07:37] #11 closed

[2020-04-23 10:06] fMeow commented on #9
In version 0.3, the `async` syntax is supported. If you want to stick with `async-std`, try to use `surf_async` feature and disable default features. The all connection to arangoDB are sended with `surf`.

Or you can implement a custom client, if you don't like surf and wanna use another HTTP client.

[2020-04-23 10:10] fMeow commented on #2
Finally `arangors` supports `async` syntax in `0.3.0`.

In 0.3.0, you can toggle between async or sync with correct feature gate. Also, you can choose any HTTP client backend.

[2020-04-23 10:13] fMeow commented on #10
The lastest version (v0.3.0) add `Clone` to both `Connection` and `Database`. The awc should be happy now. Also, you can use implement a custom client with awc, and thus get rid of the all dependencies that `reqwest` induces.

[2020-04-23 10:28] arn-the-long-beard commented on #10
Hey ! I was just gonna post :)

I succeed to make it work with r2d2, but it is adding a lot of code that I do not understand.

[code]

then in my handler

[code]
and the query

[code]
Question :

I used &conn instead of conn like on the actix ecample. but it works fine with just conn.

**What are the benefits of using R2d2  ?**

 I had to use diesel and r2d2, and I would like to limit my dependenc

[2020-04-23 11:09] arn-the-long-beard commented on #10
Okay I think I got the anwser. I do not succeed to make the 0.3.0 works. I got this error every I am using the connection.

And for some reason, I got a mismatch of type between the compiler and my IDE info. I have some Future in places where I do not have them.

I ll 'stick with r2d2, it actually make stuff easier :)  The Future stuff is still not known for me. I need to skip it for now.

Thank y

[2020-04-23 11:23] prabirshrestha commented on #9
This is great. Thanks.

[2020-04-23 11:23] #9 closed

[2020-04-23 12:14] fMeow commented on #10
Thank you so much. Reaching out is already a valuable effort to help `arangors` and `r2d2-arangors` to make things clear, something that might be obvious for ones familiar with source code, but confusing for new users.

The v0.3.0 use `async` version by default, so either add await to every async function. Notice the `await` keyword in the following example:

[code]

Also you can stick with the sy

[2020-04-24 07:28] inzanez commented on #2
@fMeow very nice, many thanks! I really appreciate the switch to 'thiserror' too!

[2020-04-24 09:46] #2 closed

[2020-04-24 10:47] arn-the-long-beard commented on #10
Hello !
Okay, I ll give a try to the async feature Thank you for the tips and the precious explanations :)

I''ll come back with the example code :)

[2020-05-01 09:55] arn-the-long-beard commented on #10
Hey guys, I was busy with some IRL stuff for the last few days. I am back. I just tried to used r2d2-arangors with the last arangors 0.3.0. It seems we need an update on the r2d2-arangors part because of dependency to 0.2.0.

Here is the working code in pure 0.3.0 without r2d2.

main.rs
[code]

login.rs

[code]
**Observations :**

1) I had to put a little more code, and make a new statement for th

[2020-05-25 10:23] 3699n opened #13 "Document CRUD support?"
Is any plan to implement the `Collection` `create_document`, `remove_document`, `update_document` methods in the near future? They are essential features for this crate. The api endpoints are rather simple to interact with, and I would be happy to implement these endpoints myself if you give me some guidance in regards to how to implement them with regards to your already existing crate architectu

[2020-05-26 23:54] fMeow commented on #13
Thank you.

No plan on Document CURD method yet. This feature can be realized by AQL query and the latter one offers much more flexibility. You can filtered on a document's _id to get the exact document you want.

It's prioritized to implement useful but missing features. And document API are not considered `missing` thanks to AQL query.

[2020-06-04 11:30] inzanez commented on #10
I just added support for async connection pooling using mobc:
https://github.com/inzanez/mobc-arangors

Published crate is called 'mobc-arangors'.

[2020-06-16 09:50] arn-the-long-beard opened #15 "How to use tests"
Hey Mate ! How are you doing ?
Since I have a lot of time and I decided to focus more on Rust for the next few days, I am working on the Apis that are not implemented. I know they are not priority but they are easier to reach because I am a baby at rust.

But before, I got some errors when I do `cargo test`

Here is the result

I get this error on both dev and master. I do not understand where the

[2020-06-16 10:05] arn-the-long-beard commented on #15
Okay, I see I get 401 when I run the ./init_db.sh

[2020-06-16 23:35] fMeow commented on #15
Yes, please create a PR and ask to merge into dev branch.

The `init_db.sh` and cargo test use a default credential if not specified. You may need to specify `ARANGO_ROOT_USER`, `ARANGO_ROOT_PASSWORD` , `ARANGO_USER` and `ARANGO_PASSWORD` as environment variable when runing cargo test. In bash, it's like:

[code]

Since you have successfully run cargo test collection, the credential should be fine

[2020-06-17 07:42] arn-the-long-beard commented on #15
Hey, thank you for your explanation :)

I got the error just after I cloned the project or switch branch and then cargo test. There is nothing more I do. I will check the example folder as you suggest.

On my way to the PR !

[2020-06-17 08:29] arn-the-long-beard commented on #15
Okay I found out why. The issue happened for here
[code]

My credentials for root_user & root_password where actually wrong. My bad :)

[2020-06-17 08:29] #15 closed

[2020-06-24 15:36] fMeow commented on #13
Now PR #19 is working on document supports. It should be released with v0.4.0.

[2020-06-24 15:53] fMeow commented on #6
Great! But how can I ask the server to send/receive data in velocy pack?

[2020-06-24 16:19] fMeow commented on #6
I find the documentation I need at [velocystream](https://github.com/arangodb/velocystream). That's where to strat off.

[2020-06-25 08:23] davechallis commented on #6
Great, glad you found it, it took me a while to find those documents too.

In case it helps, I also used that document to create velocystream data structures in Rust too, here: https://github.com/davechallis/rust-velocystream

It's fairly minimal (this is all the code: https://github.com/davechallis/rust-velocystream/blob/master/src/lib.rs), but might save some time.

[2020-06-27 15:10] fMeow commented on #6
Wow, thank you so much!

[2020-06-29 10:11] fMeow opened #20 "Hide response from publlic API"
https://github.com/fMeow/arangors/blob/d4f0518490fefcc3b1e80644572777e0c3cfc545/src/response.rs#L41

[2020-07-04 13:04] #20 closed

[2020-07-13 21:23] EnvOut opened #21 "How to work with edges and refereces using this driver?"

[2020-07-14 00:46] fMeow commented on #21
Please use [AQL](https://www.arangodb.com/docs/stable/aql/graphs.html). `arangors` have a full funtional AQL support.

[2020-07-17 11:51] arn-the-long-beard commented on #13
Hey, we worked on it with @fMeow. Since I am new to rust, it takes me some time to code it. Please feel free to look at the PR and give your inputs :)

[2020-07-17 11:54] arn-the-long-beard opened #22 "Add CONTRIBUTING.md"
Hello, I was thinking that maybe we could have this file so we have quick instructions for people on how to help the project.

What do you think?

It can be good for beginners like me too.

[2020-07-18 06:30] fMeow commented on #22
That's great. But what to contain in a `CONTRIBUTING.md` file?

[2020-07-18 10:56] arn-the-long-beard commented on #22
Hoo yes, I should have give examples :)

1 - For example we could describe the way we write commit messages, depending of its content.

- `test: updated unit test` -> When we update code on unit test

- `doc: added doc for constructor` -> When we write documentation

- `fix: fixed deserialization bug due to error handling` -> When we fix a bug

- `feat: added collection::create_document` -> When w

[2020-07-24 15:34] #13 closed

[2020-07-25 18:30] theduke opened #24 "Unimplemented methods"
There are a quite a few methods that just contain `unimplemented!()`.

These should really be removed until they are implemented.

At the very least there must be a big  warning in the README.

Eg `Collection::create/update/replace/remove_document`

[2020-07-25 21:01] theduke opened #26 "Database::create_edge_collection creates regular document collection"
Title says it all.

Unexpectedly, a regular document collection is created.

[2020-07-26 01:44] fMeow commented on #24
All unimplemented methods are filled in the v0.4 build. And there should be no unimplemented method now.

[2020-07-26 02:00] #24 closed

[2020-07-26 03:01] fMeow commented on #26
Thanks to your PR(#27), it should be fixed now. I also add a minimal e2e test to ensure the `create_edge_collection` performs correctly.

[2020-07-26 08:15] theduke commented on #26
Great.

Due to the complexity of the API, it might be worthwile to investigate auto-generating base code from the official Swagger /OpenAPI specification, and then providing a nicer API on top.

I don't think the current OpenAPI code generators are of great quality though...

[2020-07-26 08:20] arn-the-long-beard commented on #26
Hello, thank you for your work !!!

[2020-08-11 08:17] inzanez opened #29 "AqlQuery with bind_vars"
Hi

How is one supposed to be using bind_vars? Using the web-query-builder from ArangoDB, I'm used to being able to create queries as follows:
`INSERT @user INTO @@collection` with `user: { "name": "Test" }` and `@collection: "users"`.

Assuming I tried the same with the query builder, I tried:

[code]

However, that fails, as the query generated escapes the double quotes in the JSON that I genera

[2020-08-11 08:24] arn-the-long-beard commented on #29
Hello!!

Thank you for your post !

Yeah it seems we have something weird there.

Let ' me  write an example with a PR and I come back to you, sounds good for you ?

[2020-08-11 08:33] inzanez commented on #29
Well, yes, and thanks for the answer! But I think I figured it out:

[code]

So convert the struct to a serde_json::value::Value, not a string! Now it works.

`let json = serde_json::to_value(&user).unwrap();`

[2020-08-11 10:55] arn-the-long-beard commented on #29
Hoo mate thank you :+1:

I had the same issue as you actually. Thank you for your response. I PR an example so people know where to look in the future !

[2020-08-11 11:07] arn-the-long-beard commented on #29
Do you still have this issue by the way ?

[2020-08-11 14:06] fMeow commented on #29
You could assign the user struct directly by using `try_bind` instead of `bind_var`.

`try_bind` accepts any serializable struct while `bind_var` only allow struct that can be converted into `serde_json::Value`.

Oh I found the doc doesn't contain discription on how to use `AqlQueryBuilder`, that is something to be improved.

[2020-08-14 13:21] inzanez commented on #29
Yes, I agree, try_bind works exactly as I expected. Many thanks!

[2020-08-14 13:21] #29 closed

[2020-08-14 13:22] inzanez opened #32 "Index Management"
Hi

is there someone already working on index management?

[2020-08-14 13:52] EpiFouloux commented on #32
https://www.arangodb.com/docs/stable/http/indexes-working-with.html#create-index
This feature should be implemented on the Collection module

[2020-08-14 13:58] inzanez commented on #32
Yes, that's what I planned to do. But if someone already started on that, it would be quite a waste of time doing the same :-)

[2020-08-14 14:26] EpiFouloux commented on #32
I investigated to se if I could simply add the methods to `Collection` but the endpoints are not relative to collections so a new `Index`struct and implementation must be done and I don't have time for that :/ But I'll gladly help you

[2020-08-14 15:14] inzanez commented on #32
Yes, it will be a bit more than that I guess. I‘ll start a PR soon on that.

[2020-08-15 01:23] fMeow commented on #32
I am currently working on graph and haven't investigate into Index implementation yet.

Many thanks

[2020-08-17 07:42] EpiFouloux commented on #32
@inzanez seeing you already made progress I'll wait for your pull request instead of trying to do a quick and dirty here

[2020-08-17 07:54] inzanez commented on #32
Yes, I guess that makes sense. I should be finished with a first draft for review in the next few hours.

[2020-08-17 12:20] arn-the-long-beard commented on #22
Ho yes I found this  https://gist.github.com/abravalheri/34aeb7b18d61392251a2

[2020-08-20 06:56] #32 closed

[2020-09-04 08:51] EpiFouloux commented on #10
So I did not follow the entire issues and comments but here is my solution as implemented in [:](https://crates.io/crates/aragog)

[code]

And once initialized this structure can be cloned without issue and an acces to the database and collections (you can remove or add stuff in it if you want)

[2020-09-14 10:17] EpiFouloux commented on #5
Hello @thedodd If you are looking for a Arango ODM I made the [aragog](https://crates.io/crates/aragog) crate for this.

I don't support streaming transactions since I'm based on `arangors` but I'm implementing it directly in `aragog` once I'm done with the query system

[2020-09-14 16:28] thedodd commented on #5
Thanks for the heads-up. I had been evaluating a few different database systems a while back. I'm not currently looking, but I'll keep this in mind. Thanks!

[2020-09-14 21:06] Weasy666 opened #34 "Change log level of connection"
Could you maybe change the log level to debug? Otherwise, using arangors with r2d2_arangors in Rocket spams the console on starting the server, because the connection pool opens a lot of connections and on every connection the message gets printed.

https://github.com/fMeow/arangors/blob/cfa2ae99837747af74b40c86c7f9ab62bbf96193/src/connection/mod.rs#L219

[2020-09-15 01:13] fMeow commented on #34
Sure, I wil change it.

[2020-09-15 05:45] Weasy666 commented on #34
Great! Thank you!

[2020-09-16 07:28] inzanez opened #35 "Support batch operations"
Hi

would it make sense to implement batch operations like:
- Insert / Update / Replace / Delete multiple documents (so basically extend the single document methods on `arangors::collection::Collection` based on [this documentation](https://www.arangodb.com/docs/stable/http/document-working-with-documents.html#create-multiple-documents).
- bulk import / export according to this [documentation](htt

[2020-09-16 17:20] inzanez commented on #6
Just out of interest: I assume that supporting VelocyPack would bring performance boosts? Or is there more about it?

[2020-09-17 01:33] fMeow commented on #6
I think VelocyPack can save network bandwidth to some extent.

[2020-09-17 05:41] davechallis commented on #6
@inzanez @fMeow yup, it's more compact and faster to serialise, but one of the big advantages is that ArangoDB itself can work with velocypack data internally without conversion, so it's much more efficient from the server side to consume/produce.

There's more detailed description on some of the advantages and design here: https://github.com/arangodb/velocypack#motivation

[2020-09-17 07:10] inzanez commented on #6
@davechallis Ok, that sounds quite nice. I will be happy to participate on the VelocyPack implementation if required. I guess we'd need a full implementation so that it could be used.

[2020-09-19 08:14] fMeow commented on #35
It certainly make sense. Maybe I would add this feature in the next minor update.

[2020-09-21 08:24] inzanez opened #36 "Remove header from document"
Hi

does it really make sense to have the `Header` included in the `Document<T>` structure? Wouldn't it make more sense to let the user of the driver decide whether or not that part of the response is going to be deserialized? Simply by including the header properties (merged or not) in the struct `T`?

I currently use AQL queries all over the place, and this works quite well as it just serializes

[2020-09-24 17:52] Weasy666 opened #37 "Move `sync` and `async` features into seperate modules"
As came up in the discussion on this https://github.com/SergioBenitez/Rocket/pull/1433, do you think it is feasible to move the `sync` and `async` features into seperate modules, like `reqwest` is doing? So that both can be used simultaneously within one workspace. Otherwise it would not be possible to integrate both, as an option the rocket user can choose from, in `rocket_contrib`.

The current

[2020-09-25 13:07] arn-the-long-beard commented on #37
Hey @Weasy666

Thank you for your post !!

If we do move `sync` and `async` in to two modules, does it mean that we have to rewrite all the unit tests as well ?

[2020-09-30 12:30] Weasy666 commented on #37
I'm don't know, but i would guess that it's not necessary. Because you still could rename a imported modul with `use arangors::blocking as arangors` and use it as drop in replacement. I think that is how reqwest works, IIRC.

[2020-10-08 13:48] EpiFouloux commented on #36
You can put the `_id` , `_key` and `_rev` in your `T` structure and it would work, but it means that you can forget the automatic creation of these values and they become unreliable. The state of your application can be unsafe.

for [aragog](https://crates.io/crates/aragog) I use the header to allow the user to wrap its document in a `DatabaseRecord<T>` base element of the ODM/OGM and this way the

[2020-10-08 13:50] EpiFouloux commented on #21
If you are not good with AQL I developped a [ODM/OGM](https://crates.io/crates/aragog) with an integrated Query system  that supports declaring Collection and Edge Collections, linking object, making traversal requests, etc.

[2020-10-08 14:32] inzanez commented on #36
@EpiFouloux I think it's a difference talking from the perspective of `aragog` as an ODM and the driver itself. Removing the `_id`, `_key` and `_rev` from the default `Document` in `arangors` would only mean that users of the driver would need to specify them. So for instance, `aragog` would specify them (as it already does; currently it just seems to copy them over to the own structure by impleme

[2020-10-08 14:53] EpiFouloux commented on #36
Yeah, I guess it does and it doesn't change anything for me.
But since these values are mandatory that means that you need to set them as `Option<String>` in your structure and set them as `None` when you create a document for the first time ? Or do you need two structs? I think `arangors` would become weird to use

[2020-10-08 15:13] inzanez commented on #36
@EpiFouloux I would leave that as an exercise to the user of `arangors`. I think it is not weirder in any way than what you would do using `Diesel` for instance. I found many examples that actually do use two separate structures for new instances of a type (omitting the `ID`) and existing instances. Using an `Option` would be an option too ;-) And not serializing on `None`.

If you were to use AQL

[2020-10-08 15:41] EpiFouloux commented on #36
I did not notice that there was this inconstency while I did implement `aql_str` for my custom query system.
I think you are right, arangors is a ArangoDB driver, not a ODM and maybe 'Document' should not exist.
What does @fMeow think?

[2020-10-08 16:17] inzanez commented on #36
@EpiFouloux Just as a quick update. Assuming I created a struct like this:

[code]

I could use that structure (and I currently do use it in a similar form) with `aql_str` and `AqlQuery` in general. But using it with `collection.document(_key)` results in a deserialization error, as `arangors` is doing the header part, which leaves my own header fields empty. And making them optional is not an opt

[2020-10-08 16:25] EpiFouloux commented on #36
When `arangors` build the. `Document::header` it takes the values and doesn't leave them in the `serde_json::Value` ? Are you sure about that?

[2020-10-08 17:11] inzanez commented on #36
@EpiFouloux I will paste a sample, just to make sure we talk about the same thing:

[code]

This will lead to:
`thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Serde(Error("missing field `_id`", line: 0, column: 0))', src/main.rs:30:52`

So no. They are deserialized into the header. Done.

[2020-10-08 17:17] EpiFouloux commented on #36
Yeah that's what I was talking about and indeed it's a bit weird, the `Document` struct should be removed

[2020-10-09 12:23] EpiFouloux commented on #36
Hey @inzanez I can make a pull request for this if you are not already doing one

[2020-10-09 12:27] arn-the-long-beard commented on #36
Hey guys !

Thank you for your messages :smiley: . I think it is me who wrote  the `Header` and the` Document`. I saw your message yesterday but I was so busy.

I wrote the API by using the official documentation and source code in the Python & Typescript version of the driver.

Can you explain me shortly what is wrong with what we have ?

[2020-10-09 13:30] inzanez commented on #36
@arn-the-long-beard Well, I don't really want to talk about 'right' and 'wrong' here, as it's not that simple. I see that also the Golang driver does the same thing we have here. Still, I ask whether or not that's good choice.

Basically we have the following situation:

1. Using an AqlQuery will not deserialize the document header fields separately, which allows one to specify the header fields i

[2020-10-09 13:39] inzanez commented on #36
Quick addition: Another option would be to implement Deref and DerefMut for Document. This would be convenient as it would allow for things like this:

[code]

Without the Deref, one could not work directly on `T` that is encapsulated in `Document`. And `DerefMut` would be required to work with mutable reference. But then again, I'm no expert on the whole `Deref` topic,...but that way, we would po

[2020-10-09 13:41] arn-the-long-beard commented on #36
Thank you for your message :+1:

Okay, well my brain is not fresh on `arangors` since I am working on other stuff now. That is why I do not see the issue right now.

But I remember that @fMeow  talked about the possibility to have something similar like this :

I did not know how to make this happen that is why it is missing also.  Can you explain me this part ?

Anyway, I think you are very welco

[2020-10-09 13:44] inzanez commented on #36
@arn-the-long-beard Well, I guess I would wait for @EpiFouloux as he's working on a proposal. But in general, it would be similar to what the current AQL query interface does. It would deserialize the response to `Document<T>`, but deserialize to `T` directly. So if `T` contains the `Header` values, it will automatically be deserialized. If it doesn't contain them, they will just be dropped. But e

[2020-10-09 15:05] EpiFouloux commented on #36
@inzanez That is exactly what my proposal is, I'll make a pull request soon.

[2020-10-09 15:17] inzanez commented on #36
@EpiFouloux Which one? Deref/DerefMut or removing the document struct?

[2020-10-09 15:24] EpiFouloux commented on #36
Removing the document struct: https://github.com/EpiFouloux/arangors/commit/f03492bde18d0e6e135c0aa83b8c3a30bb355f3b

Though I don't remove `DocumentResponse` since it can be silent I do remove its `Header`. I still have to work on the tests before making a pull request.

I don't know if @inzanez  proposition for `Deref`/`DerefMut` is ideal since I never worked with this

[2020-10-09 16:23] arn-the-long-beard commented on #36
Yes please, do not remove Document Response 🙂 I made it according to the
official documentation and I find it very usefull. Good luck. I will still
follow so I can help if needed 😉

Le ven. 9 oct. 2020 à 17:24, Félix Lescaudey de Maneville <
notifications@github.com> a écrit :

[2020-10-23 13:06] fMeow commented on #37
Well, I once tried this approach and find myself always comparing the sync and async version to keep these two implementation the same. Whenever a improvement is made on async version, I have to apply the some modification to sync, and I suddenly find the changes can be improved better. So I am reluctant to move back to this approach. I want to write code once and get both async and sync for free.

[2020-10-23 13:49] fMeow commented on #36
Sorry for the long wait.

Personally speaking, I think `Document` type is a wrapper that differentiate a user data structure and a arango Document.

When creating data structure, I don't want to mingle it with database stuff like `_id` or `_rev`, which can made my data structure clean. And I don't need to have write the id, key, rev field for every struct. When I do need them, I can just wrap it i

[2020-10-23 14:19] inzanez commented on #36
@fMeow Ok, that's definitely a valid choice, as I already pointed out above. But I think it would make sense to emphasize that in the doucmentation / Readme as a core concept? So that it's clear that the user is supposed to use the `Document` wrapper when working with AQL queries, in case the `_id`, `_key` and `_ref` are important to them.

On the other hand, I still see some inconveniences floati

[2020-10-24 03:47] fMeow commented on #36
Yes, I should emphasize this in readme/doc since it is a hidden breaking change. So bad I didn't come up with `Document` type when implementing AQL. Plus, in my memory, an AQL query can return anything. By anything, I mean it does not need necessarily to be a doc. So the AQL query function according use `T` instead of `Document<T>`.

It is possible to change the signature of `Collection::document`

[2020-10-24 11:09] inzanez commented on #36
Just as an idea: couldn‘t you just leave the `Document<T>` structure in arangors, and change serialization of all collection methods to `T`? That way, every user of arangors could choose to continue as you outlined (using `Document` provided by arangors) or creating their own structs with `_id, _key and _rev`.

Or is there a drawback I dont see? I think this would not force any of the two concepts

[2020-10-26 12:12] EpiFouloux commented on #36
One addition to @fMeow proposition would be to stop *deleting* `_id`, `_rev` and `_key` from the returned json to put them in the `header`, so people have these in their structure if they want

[2020-10-26 12:42] inzanez commented on #36
@EpiFouloux I think they are being consumed as part of the deserialization process through `serde`. That's why I proposed to leave `Document<T>` in the `arangors` crate, but let the user decide about deserialization (don't force `Document` on the users of the library).

[2020-10-26 13:06] EpiFouloux commented on #36
@inzanez From what I see in [the source](https://github.com/fMeow/arangors/blob/master/src/document/response.rs)
[code]
It seems they are explicitely deleted from the json

[2020-10-26 14:26] inzanez commented on #36
Oh, that‘s interesting. Well, but we would still have a deserialization to Document. Which would need to be unpacked...

[2020-10-26 21:37] SergioBenitez commented on #37
@fMeow I'd like to clarify that the crux of the issue is that your crate is currently misusing Cargo features. Cargo features _must_ be additive; any other use of features is incorrect and can [break code](https://github.com/rust-lang/cargo/issues/4328). In particular, this means that your crate must be able to build with _both_ features enabled and cannot require any exclusivity between features.

[2020-11-01 09:17] #34 closed

[2020-11-03 11:55] thawkins opened #40 "[Question] Writing bare-metal (from scratch container) applications."
Does arangors require any linked Linux user-land components?

I'm looking for a way of creating single binaries that use arrangodb servers that can be instanced as a single file in a "from scratch" container.

In particular does it require any linked security components for SSL connections? or can it perform that with just the binary and a cert?

[2020-11-11 05:24] andrew-s commented on #40
I'm statically compiling this with musl on Alpine into a scratch container and not faced any issues. Best to give it a go with your application as you may find another dependency you have may require such things.

[2020-11-11 05:37] thawkins commented on #40
Thanks andrew, I will give it a go,. I did not want to spend a lot of time
on it if there where known blockers.

On Wed, Nov 11, 2020, 13:24 Andrew Seymour <notifications@github.com> wrote:

[2020-11-13 14:46] inzanez opened #43 "QueryExtra"
@fMeow Did you have any plans on how to implement retrieval of `QueyExtra` data? I would like to implement that asap, as I need it.

I was just scanning through the code and think that extending the existing functions:
* aql_fetch_all
* aql_query

might be hard. But it could still be convenient to have something integrated. How about adding new functions:
* aql_fetch_all_extra
* aql_query_extra

w

[2020-11-15 14:46] fMeow commented on #36
Now I manually deserialize `Document`, and it should be fine when you have _id, _rev, _key on user struct when deserialize into `Document<T>`. Both the header struct `doc.header` and user field `doc.document.key` can work.

[2020-11-15 14:54] inzanez commented on #36
But that still forces a user to unpack that Document,...couldn‘t that be optional? Or maybe add a second kind of functions on the collection that allows to use the functionality without using the Document struct?

[2020-11-15 16:13] fMeow commented on #36
I am considering a more OOP liked design for document, like `db.update_doc(&doc)`. In that case a standard way to store _key is a must.

[2020-11-15 18:09] inzanez commented on #36
Could you not define a trait that exposesd key, accept impl trait instead of Document struct, and just implement the trait for the internal Document type?
That way, everyone that wished could implement the ‚Doc‘ trait on whatever struct they want and it should work out...?

[2020-11-15 18:12] inzanez commented on #43
Any update on this one? If you are not implementing anything already I would get started with this.

[2020-11-16 01:38] fMeow commented on #43
Thank you for your kind suggetion.

I haven't used this feature and I fail to find `QueryExtra` in the arangodb document. Could you please give a link?

[2020-11-16 06:02] inzanez commented on #43
It‘s not a particular function. It‘s the ‚extra‘ information from the query response. I think only ‚results‘ are parsed right now, the rest is ignored.

[2020-11-17 12:56] fMeow commented on #43
This is already inplemented. You can use `aql_query_batch` and `aql_next_batch` to get a Cursor which contains `QueryExtra`.

`aql_fetch_all`, `aql_query` and etc are handy functions for a quick retrieval, which is actually a wrapper around `aql_query_batch` and `aql_next_batch`. ArangoDB actually returns a cursor, which contains all the extra information.

The reason of neglecting  `QueryExtra` i

[2020-11-17 13:00] fMeow commented on #43
Maybe I should expose `aql_fetch_all` to public. Then you can get `QueryExtra` with the first cursor and get the rest result with `aql_fetch_all` while ignoring the `QueryExtra` for the following cursor.

[2020-11-18 14:12] Weasy666 commented on #32
@fMeow is it currently possible to create a graph with arangors?

[2020-11-24 12:50] EpiFouloux commented on #32
Are you talking about `Named Graphs` or simply edge traversal?

[2020-11-24 13:14] Weasy666 commented on #32
`Named Graphs`, but if that is not possible, then edge traversal would propably also do. That would then be purely possible in AQL, as far as i could see.

[2020-11-24 13:31] EpiFouloux commented on #32
It is possible in AQL, you can also use a ODM/OGM

[2020-11-24 13:45] Weasy666 commented on #32
Do you maybe now how to create a `Named Graph` with AQL? I was not able to find a satisfying answer or example.

[2020-11-24 14:05] EpiFouloux commented on #32
There is not, to create a named graph you need to use either:
- arangosh
- the web interface
- the HTTP API
`arangors` uses the HTTP API and I don't think the graph creation is yet implemented but you can fork the project and make a pull request if you know how to make that feature. I'm looking into it as well in order to improve my own tool [aragog](https://gitlab.com/qonfucius/aragog) based on `

[2020-11-24 14:32] EpiFouloux commented on #32
@Weasy666 https://github.com/fMeow/arangors/pull/47 has basic graph management

[2020-11-24 15:51] Weasy666 commented on #32
Wow! That was fast 😅

[2020-11-25 09:59] EpiFouloux opened #48 "Add Named Graph Management"
Hello,

We don't have any option to create *Named Graphs* with `arangors` and I need the feature for my own crate.

Based on https://www.arangodb.com/docs/stable/http/gharial-management.html#drop-a-graph and the *Index management* Pull request by @inzanez I did this: https://github.com/fMeow/arangors/pull/47

I'm not sure if it's the way you want to do it but It works. The graphs are not editable,

[2020-11-25 15:42] fMeow commented on #48
Thank you so much for your great work!! I will have a look into this and merge ASAP.

[2020-11-25 16:54] EpiFouloux commented on #48
I guess I need to write more tests but I'll wait until I'm sure the implementation works for you

[2020-11-26 08:49] EpiFouloux commented on #48
@Weasy666 PR merged, you can use named graphs

[2020-11-26 08:49] #48 closed

[2020-11-27 02:01] fMeow commented on #37
The underlying problem is much bigger and I am working in progress to replace the current async OR blocking feature gate to async AND blokcing one.

[2020-12-03 11:12] EpiFouloux opened #50 "Implement `Clone` on public structs"
Hello,

Since I'm working on a arango ORM/ODM and currently working on migrations and schema generation I use structs like `IndexSettings`, `Graph`, `EdgeDefinitions`, etc. But I sometimes need to clone them, I have workarounds using `serde` but I wonder if we could just make these structs derive `Clone` by default.

I can make a pull request for this but I don't know if you think it's useful or n

[2020-12-03 11:59] fMeow commented on #50
Why not?

The only case that I against implement `Clone` is something that can be updated, for instance `Document` with _id, _key and etc. In this case a `Clone` can result in an updated version and outdated version, which can cause confusion.

[2020-12-04 09:40] EpiFouloux commented on #50
I put `Clone` on structs the user would create himself, line `Index` and `Graph`: https://github.com/fMeow/arangors/pull/51

[2020-12-04 14:15] EpiFouloux opened #52 "`blocking` feature doesn't compile"
Hello, I have the following in the `Cargo.toml` just like the example.
[code]
Here's the output on `build`=

[code]

I don't know if there was a regression or if I'm doing something wrong

[2020-12-04 15:31] EpiFouloux commented on #52
I was using a depedency or arangors with blocking and an other without it

[2020-12-04 15:31] #52 closed

[2020-12-07 08:46] EpiFouloux opened #53 "Add Index deletion through collection"
Hello,

Currently the index deletion works by the index name (`database.delete_index("index_name")`) but it fails:
`ClientError(Arango(ArangoError { code: 400, error_num: 400, message: "expecting DELETE /<collection-name>/<index-identifier>" }))`

I will add the `collection-name` argument in a PR but I'm not sure if that's the best way to do this

Also I can't find the HTTP doc on this.

I tag @in

[2020-12-07 09:11] #53 closed

[2021-01-04 13:25] #50 closed

[2021-01-04 23:12] theduke opened #57 "reqwest + rustls"
reqwest has the `rustls-tls` feature that will use `rustls` instead of the native system openssl library.

Would be great to have an extra feature to toggle this.

[2021-01-13 08:54] ManevilleF commented on #57
I think you can enable this in your project without `arangors` changing anything: [This Pull request](https://github.com/fMeow/arangors/pull/41)

[2021-01-13 22:01] theduke commented on #57
No, that doesn't work, as explained in the PR.

[2021-01-18 18:40] mrtnzlml opened #59 "Release: new version with transactions, analyzers and views?"
Hola! 👋 I saw that one month ago, this awesome commit landed: https://github.com/fMeow/arangors/commit/1be43ebef82a66ff1f203845b279a1ac8907da67

However, it doesn't seem to be released yet. 🤔 Would it be possible to release a new version with this change, please? Thank you very much for considering it! 🙂

[2021-01-22 05:55] nahaharo opened #60 "Example dependency using the blocking feature in README.md is wrong."
README.md says that you need to select features as "blocking" to use synchronous feature.
But I think correct option for use synchronous is "reqwest_blocking".

Please change "features = ["blocking"]" to "features = ["reqwest_blocking"]".

Problem section
[code]

[2021-01-27 03:19] fMeow commented on #60
This is not

[2021-01-27 03:24] #60 closed

[2021-01-27 03:27] fMeow commented on #59
I thougth I had already release it. I am publishing it into v0.4.6 now

[2021-01-27 12:55] mrtnzlml commented on #59
Great, I can close this now! I was starting to get worried that this project is abandoned.

@fMeow Would you please consider an upgrade to Tokio 1.0 as well? Arangors seems to be the last dependency blocking me from upgrading other ones. Thanks! 🙂

[2021-01-27 12:55] #59 closed

[2021-02-05 08:27] ManevilleF commented on #5
I think this can be closed @fMeow since you merged the MR for transancion support

[2021-02-05 08:32] ManevilleF opened #65 "Transaction support improvements"
Hello,

I am very happy with the work done by @bakjos on Streaming transaction support. I have a few suggestions:

- Implement a conversion method from a classinc `Collection<ReqwestClient>` to a  transactional `Collection<ReqwestClient>`, editing its `session` field adding the header value for the transaction
- Adding documentation on various methods or an explanation on how it works would be nic

[2021-02-19 08:27] ManevilleF opened #67 "Error Improvements"
Hello,

In `arangors` there are two error types:
- `ArangoError` which map the ArangoDB HTTP responses whith code, error num and message
-  `ClientError` which is the global error enum, with a `ArangoError` variant and a few other variants which are irrelevant to the document operation responses.

I can make a Merge requests changes the error type of ArangoDB operations from `ClientError` to a `Ar

[2021-02-19 08:32] #67 closed

[2021-03-09 11:12] arn-the-long-beard opened #69 "Improve error message when credentials for connection are wrong"
Hello guys ! It is a long time :smile:

I am still continuing my journey on Rust :stuck_out_tongue:

Well I saw today that if the credentials for connection are wrong we get this :

[code]

The error comes from there :

[code]

Maybe we could improve the error message maybe and give an error like " Unauthorized" or something .

What do you think ?

I can make it if you want :wink:

[2021-03-09 17:35] ManevilleF commented on #69
This doesn't seem to be a credentials error, this method can definetely be improved but it would seem that ArangoDb is returning something wrong.

Maybe you have an unsupported ArangoDB version?

[2021-03-16 16:15] ManevilleF opened #71 "Make fields on `InsertOption`, `UpdateOption`, etc public"
enums like:
- `InsertOptions`
- `UpdateOptions`
- `ReplaceOptions`
- ...

all have their fields being private and we have to use the derived `TypedBuilder` for customization.

I have an issue with that, in some cases I want to leave a `None` value which is not possible in current implementation.

Example:
[code]

So I have two proposals:
- Removing the `TypedBuilder` implementations and making a c

[2021-03-17 09:49] arn-the-long-beard commented on #69
Hey @ManevilleF , thank you for your answer. I am using `version: 3.6.11` .

My credentials were wrong actually and I tested it several times. That is the issue :smile:  to have an error message that does no match the right error that a user would expect .

Instead of having an error like "401" wrong credentials, I get the error about jwt because arangodb did not return any jwt.

We should improve

[2021-03-17 13:02] ManevilleF commented on #69
I checked and I indeed manage to reproduce, it's strange that ArangoDB doesn't return a 401 using JWT when it does for Basic auth.

[2021-03-17 13:09] ManevilleF commented on #69
[code]
There seem to be a problem on the response check, usually `arangors` handles correctly the ArangoDB errors but in this case it seem to ignore that the status code is wrong.

[2021-03-25 16:32] ManevilleF commented on #37
If `arangors` drops `surf` support the `Cargo.toml` dependencies could look like:

[code]
The features would be *additive* even though both async and sync code won't be available at the same time

[2021-03-27 16:29] fMeow commented on #37
This violation of addtive rules of rust feature gate is a pain in arangors for a long time. But now I thinkaddtive rules is no long a obligation with the new resolver in cargo introduced in Rust 1.51.

But for crates that depends on `arangors`, I think it a better idea to align with the feature gates in `arangors`.

[2021-03-28 03:00] fMeow commented on #57
Sorry for the long delay.

I think found a solution, see [example](https://github.com/fMeow/arangors/tree/master/examples/reqwest_rustls) for detail.

[2021-03-28 03:12] fMeow commented on #71
It is actually possible. The point is that TypedBuilder returns a new builder with a different type.

[code]

The pros of  TypedBuilder is that we can know if the code is wrong at compile time and achieve zero cost abstraction. But I do think it a little cubersome in this case that you have to use a single match for all the conditions you want.

[2021-03-28 03:36] fMeow commented on #69
I find the problems.
[code]
We simply deserialzie the response from server without checking if the responses complain error. This is fixed in [this commit](https://github.com/fMeow/arangors/commit/f8c3303b8dfed894ab1939ac5eab8a4c3cbf2780).

[2021-03-28 03:36] #69 closed

[2021-03-28 03:43] fMeow commented on #67
This is [a way to convert](https://github.com/fMeow/arangors/blob/2032c5c4724be7ce38866234e9caf54447baedcf/src/error.rs#L18) from `ArangoError` to `ClientError`.

We can either explictly use `ClientError::from(arango_error)` or simple use a `?` to let rust do the conversion for us.

[2021-03-28 05:44] #5 closed

[2021-03-28 05:45] #10 closed

[2021-03-28 12:19] fMeow commented on #22
Finally, now `arangors` has a contribution guide!

Thank you so much! :)

[2021-03-28 12:19] #22 closed

[2021-03-29 14:23] theduke commented on #57
I'm working on a generic http client not tied to any specific backend, which allows libraries like this to write against an independent client, and for the end user to pick the actual client via a separate crate.

If you're interested, I can ping you once I publish it.

[2021-03-29 19:58] fMeow commented on #57
Thank you so much! @theduke

I actually has already publish [one](https://crates.io/crates/uclient) with some minor modification on the `arangors::client` mod.

[2021-04-02 13:10] ManevilleF commented on #71
I tried this and it doesn't work. The second option works but I put a lof of options and My code looks like this:

[code]

[2021-04-23 09:19] #65 closed

[2021-04-23 09:30] ManevilleF opened #72 "reqwest 0.11 breaks tokio dependencies"
The `0.4.7` release bumped the `reqwest` dependency to 0.11 which depends on `tokio` 1.x instead of 0.2.x

`arangors` can no longer be used with `actix-web` until they release the v4 (still in beta) based on tokio 1.x.

I think this version bump should be mentioned in the Changelog as a breaking change or rollbacked

[2021-05-01 06:46] fMeow commented on #72
Well, personally I don't regard a dependency bump a potential breaking API change. But it surely is a inconvinience. I think I can bump the current version to 0.5.0 and addtionally publish a 0.4.8 with all the same code except that reqwest remains at 0.10.

But the future changes will not be added in the 0.4 world where reqwest is fixed at 0.10. Else it can be really tiresome to maintain.

Sorry f

[2021-05-01 09:30] ManevilleF commented on #72
Tokio dependencies are quite tricky and a big issue on many repositories.
Cargo can't resolve it as it causes a runtime crash.

It think your solution is good. The 0.4.7 should be yanked afterwards I think

[2021-05-01 10:26] fMeow commented on #72
Now that the v0.4.8 is published, and I yanked the 0.4.7 to keep 0.4 consistently fixed at tokio v0.2.

[2021-05-01 10:28] fMeow commented on #57
With the v0.5.0, I have added two feature gate to enable rustls in reqwest.

I think this issue can be closed.

Thank you so much for your feedback!

[2021-05-01 10:29] fMeow commented on #40
With v0.5.0, the arangors has two feature gate to enable rustls on reqwest, which does not require linking external dynamic lib.

[2021-05-01 11:36] #57 closed

[2021-05-03 07:55] ManevilleF commented on #72
Thanks !

[2021-05-03 07:55] #72 closed

[2021-07-20 17:07] mrtnzlml opened #77 "Is this project unmaintained?"
Hola @fMeow! 👋 I am following this project for some time already and I noticed that it takes a very long time to merge some PRs, dependencies are not being upgraded regularly and it generally seems like this project is no longer actively maintained.

What is the status? Do you need some extra help? It would be nice to clarify this situation and to know what is the future of this project.

Thank yo

[2021-07-29 07:54] ManevilleF commented on #71
I tried again and it works

[2021-07-29 07:54] #71 closed

[2021-07-29 07:59] ManevilleF commented on #77
The project is maintained and is very fast to add new ArangoDB http features when available. For example the transaction system or the implementation of the indexes and named graph management APIs were done really fast.

On the other hand, non urgent features are slower to be developed/merged.

I don't think @fMeow is abandoning the project nor is he stepping down as a maintainer

[2021-07-31 10:09] blagovestb2c2 opened #78 "Make Document and Header derive Clone"
Hello, it's a simple request, but is there any reason why these two structures don't derive Clone. I'm trying to return by value and I'm struggling a bit how to get an owned Document<T> out of the local results vector

[2021-07-31 10:12] blagovestb2c2 commented on #78
I found out how to solve my problem using Vec::swap_remove, but I still wonder about Clone (maybe even Eq/PartialEq?)

[2021-08-18 15:55] fMeow commented on #77
This project is stil active.

Though I am busy on other project and as @ManevilleF said, features of low urgency is slow to be implemented. As for myself, the current implementation can almost meet my need, as long as I don't do management related task, like create a user, edit permission or so.

And contribution is always welcomed. Thank you all!

[2021-08-18 16:02] fMeow commented on #78
Well, I am a little against the idea to add `Clone` to Document and Header. Say we have a document and a cloned document, and we made different changes in these two documents, then it can be inconsistent  when you update it in arangodb. The liability can be passed to the user of arangors to avoid such cases, but I think it better to avoid it in the first place.

As for your use case, I think the l

[2021-08-20 15:46] mrtnzlml commented on #77
Thanks for the clarification! 😎

[2021-08-20 15:46] #77 closed

[2021-09-06 12:14] arn-the-long-beard opened #79 "Unit test failing on AqlQueryBuilder"
Hey @fMeow , how are you doing ? :smile:

I am still playing with Rust :laughing:

But I got an issue today and I am not sure why. I did updated arangor to 0.5.0 since I am using the latest `actix-web` now.

Here is the error when I want to use `arangors 0.5.0`  or unit test it :

![image](https://user-images.githubusercontent.com/30114057/132215713-0af12b2e-3bc4-4c6e-890c-cb9a13fa98d9.png)

Did s

[2021-09-06 14:17] mrtnzlml commented on #79
I am not using `arangors` directly so this might not be much of a help, but, it's most likely because `typed-builder` dependency got upgraded, see: https://github.com/adeira/universe/commit/525023296e2422e72c86d86304a2844a7f5d97ec

Maybe you can pin the dependency?

[2021-09-07 08:03] ManevilleF commented on #79
Does anyone have any idea why https://github.com/fMeow/arangors/pull/80 is failing actions?

[2021-09-09 01:18] fMeow commented on #79
I will look into the CI issue. It's related to behavior change of arangoDB.

[2021-09-14 08:17] arn-the-long-beard commented on #79
Thank you guys for having worked on the issue :+1:

[2021-09-21 17:16] ManevilleF commented on #79
I tried to find in ArangoDB 3.8 changelog, but I saw nothing. So I just removed the line from my latest PR #81

[2021-09-21 17:18] ManevilleF opened #82 "rustls features don't work"
Related PR: #81

When using either:
- `reqwest_blocking_rustls`
- `reqwest_async_rustls`

the `arangors::Connection` type is missing.

[2021-11-04 18:23] velvia opened #85 "arangors 0.5.0 phantom compile errors"
I'm using rustc 1.57.0-nightly (f03eb6bef 2021-10-02).  Getting compile errors from 0.5.0 crate:

[code]

[2021-11-04 18:43] velvia commented on #85
Note that I see the code in the repo has been fixed and if I pull from this repo instead of 0.5.0 it compiles.  So there is something wrong with the 0.5.0 tag in crates.io, I think.

[2021-11-09 08:58] inzanez commented on #85
Same here

[2021-11-09 09:05] inzanez commented on #85
Ok. It seems that the current `master` branch is indeed correct, but the currently released 0.5 crate is not the same. Could you publish a fix?

[2021-11-10 09:03] ManevilleF commented on #85
I fixed it in https://github.com/fMeow/arangors/pull/80 but it was not released

[2021-11-18 09:35] inzanez commented on #85
Is there somebody else that could release it? Or,...is there any reason keeping a non-building version as the main released one? Or did that currently released 0.5 build with an older compiler?

[2021-11-18 10:21] ManevilleF commented on #85
@fMeow is the only maintainer I think.

Since I could not wait for my [aragog](https://crates.io/crates/aragog) library I forked `arangors` and published a simplified [arangors_lite](https://crates.io/crates/arangors_lite).

you may use it, the only difference is that it compiles and I removed the `uclient` stuff only to keep `reqwest` and a cleaner features system

[2021-11-19 18:53] velvia opened #86 "Are bind parameters passed on to HTTP API?"
Just curious, if we use parameter binding, is this passed through to the HTTP API, or is the final AQL constructed in the client side and passed through to HTTP?   This is sort of a security issue for us.

Thanks

[2021-11-19 19:03] velvia commented on #86
I guess the answer is no, as I searched for the use of `bindVars` which is the HTTP API param for binding, and it is not in the repo.  Also the design of the API suggests that the AQL query is built as a string it seems and passed in.  So I guess we'd need to support a different API that allows for binding to happen via HTTP.

[2021-11-23 22:57] mrtnzlml commented on #85
I was in the same situation and also forked `arangors` (privately). And I also removed the `uclient` stuff. 😅 Related issue: https://github.com/fMeow/arangors/issues/77 Seems like `arangors_lite` could be a good option. 👍

[2021-11-24 08:03] ManevilleF commented on #85
@mrtnzlml You should checkout `aragog`, if you want a mapped CRUD API for your database

[2022-01-25 14:13] d4h0 commented on #86
I'm pretty sure, this isn't correct.

Bind parameters are added via [AqlQuery](https://docs.rs/arangors/latest/arangors/aql/struct.AqlQuery.html)/[AqlQueryBuilder](https://docs.rs/arangors/latest/arangors/aql/struct.AqlQueryBuilder.html).

When you look at the source code of [AqlQuery](https://github.com/fMeow/arangors/blob/2c31587dd136a9818097cc8d44002e358bb8529c/src/aql.rs#L31), you'll see the f

[2022-05-21 07:15] fMeow commented on #86
As @d4h0 pointed out, the `bind_vars` is serialize into HTTP API instead of SQL string. If you are concerned about something like AQL injection attach, you can feel safe.

[2022-05-21 07:15] #86 closed

[2022-08-28 18:22] Anderssorby commented on #85
I ended up publishing a new crate with this fix here https://crates.io/crates/arango_rs.

[2022-08-29 07:21] ManevilleF commented on #85
There is also https://crates.io/crates/arangors_lite

[2022-08-31 09:35] fMeow commented on #85
fixed in v0.5.1

[2022-09-18 05:56] muhammad-davatgar opened #94 "save and update views"
i have checked the document for `View` type and it doesn't seem to have a way of saving the created `view`(or does merely creating a `View` struct saves it to db as well ? i doubt it ) and also how can i update a saved view ?
if arangors doesn't provide these yet i would be happy to implement those and make a pull request.

[2022-09-18 06:43] muhammad-davatgar commented on #94
the necessary methods were under `database` module. sorry for the bother.

[2022-09-18 06:43] #94 closed

[2022-09-20 12:29] muhammad-davatgar opened #96 "support pipeline analyzer"
`arangors` currently doesn't support creating pipeline analyzers. which are very useful and would be nice to have
i have already implemented it in my own fork so ill just open a pull request. ill give a little explanation about what i have done below. it's my first contribution so i don't know where else i can put it.  hope that's ok.

[2022-09-20 12:33] muhammad-davatgar commented on #96
i added a new variant to `AnalyzerInfo` named `Pipeline` and which takes `PipelineAnalyzerProperties`as its property.
`PipelineAnalyzerProperties` has a file `pipeline` which is vector of `PipelineAnalyzers`. i had to copy `AnalyzerInfo` and delete `name` field because pipeline analyzers don't have name field in their sub-analyzers . and sending one(although it still creates the analyzer)  results

[2022-09-23 04:51] #85 closed